body {
  font-family: "Poppins", sans-serif;
}

.page-content {
  margin-top: 100px;
}

footer {
  border-top: 1px solid #e4e4e4;
  background: #0068ff;

  p {
    font-size: 18px;
    margin: 0;
  }

  @media (max-width: 576px) {
      display: none;
  }
}

.form-control {
  background-color: #f3f3f3;
}
